* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100%;
}

.questionbox {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    line-height: 1.15;
	background-color: #ADA8B6;
	margin-bottom: 30px;
}

.repeater {
    padding-bottom: 1rem;
    border-bottom: 2px solid #C0C0C0;
    margin-bottom: 1rem;
}

.repeatable {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #D6D5D6;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
}

h2 {
    margin: 0 0 0.5rem 0;
    border-bottom: 2px solid #C0C0C0;
}

.remove {
    display: block;
    float: right;
}

.half-holder {
    width: 100%;
    padding-bottom: 0.5rem;
}

label {
    display: block;
}

.half {
    float: left;
    width: 49%;
    margin-right: 2%;
}

.half:nth-child(even) {
    margin-right: 0;
}

input[type="text"], input[type="tel"], input[type="email"], textarea {
    margin: 0;
    padding: 0.25rem;
    width: 100%;
}

input[type="submit"], input[type="button"] {
    padding: 0.5rem;
}

input[type="submit"] {
    width: 30%;
}

.submit {
    display: flex;
    justify-content: space-around;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 0.5rem;
}

textarea {
    resize: vertical;
    overflow-y: scroll;
}

.add_btn {
    display: block;
    width: 25%;
    text-align: center;
    margin: 0 auto;
    background: #61C9A8;
    font-family: 'Press Start 2P', cursive;
	font-size: 18px;
	padding: 5px;
}

/* CLEARFIX */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.header-field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.head {
    margin-bottom: 20px;
}

h1 {
	font-family: 'Press Start 2P', cursive;
	font-size: 40px;
	max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
}

.radio-buttons{
	display: flex; 
	flex-direction: row;
}
#discard{
	font-family: 'Press Start 2P', cursive;
	font-size: 18px;
	background-color: #9C3848;
}
#submit{
	font-family: 'Press Start 2P', cursive;
	font-size: 18px;
	background-color: #61C9A8;
}
