.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 16%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 80px; /* Stay at the top */
    left: 0;
    background-color: #8B8694;
    overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
    padding-top:20px;
	padding-bottom:20px;
    text-decoration: none;
    font-size: 25px;
	background-color: #ADA8B6;
    color: black;
    display: block;
	text-align: center;
}
.sidenav img {
    width: 30px;
	height:auto;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    background-color: #f1f1f1;
}

.main {
    padding-left: 20%;
}

.quizzes table,
.quizzes th,
.quizzes td {
    border: 1px solid black;
}

.checkoff table,
.checkoff th,
.checkoff td {
    border: 1px solid black;
}
.header {
	font-family: 'Press Start 2P', cursive;
	text-align: left;
	background: #61C9A8;
	font-size: 15pt;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
    top: 0;
	width: 100%;
	height: 80px;
	align-items: center;
	padding-left: 20px;
	padding-right:20px;
}
.header p{
	font-family: 'Roboto', sans-serif;
}
.header a{
	 text-decoration:none;
}
.header-logos{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.header-student{
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: row;
	position: fixed;
	justify-content: space-between;
	width: 100%;
	height: 80px;
    top: 0;
	background: #61C9A8;
	padding-right: 40px;
	align-items: center;
}
.header-left {
	font-family: 'Press Start 2P', cursive;
	text-align: left;
	font-size: 15pt;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.after-header-spacing{
	padding:40px;
}
.logo{
	padding: 10px;
	flex-shrink: 0;
	width: 70px;
	height: 80px;
}

body{
	background: #FFEEDB;
}

.login-blocks{
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

h2{
	font-family: 'Press Start 2P', cursive;
	font-size: 20pt;
	margin: 0px;
}

.login-block{
	background: #ADA8B6;
	font-family: 'Roboto', sans-serif;
	font-size: 15pt;
	padding: 20px;
	width: 40%;
	margin: 40px;
}
.login-block input{
	width: 100%;
}
.submit-button{
    background: #61C9A8;
    font-family: 'Press Start 2P', cursive;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
}
.submit-button-wrapper{
	display:flex;
    justify-content: center;
	align-content: center;
	text-align: center;
}
.error{
    color: darkred;
    font-size: 13pt;
    font-family: 'Roboto', sans-serif;
}
#username, #password, #name,#confirm-password{
	width:100%;
}
.register-link{
	font-family: 'Roboto', sans-serif;
	font-size: 15pt;
	text-align: center;
}
p{
	margin:0px;
}
.register-block{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ADA8B6;
	font-family: 'Roboto', sans-serif;
	font-size: 15pt;
	padding: 20px;
	width: 70%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.form-stuff{
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	line-height: 2.3;
}
.register-form{
	width: inherit;
}
.form-labels{
	width: 30%;
}
.form-inputs{
	width: 80%;
}
.radio-role{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}
.profile-main{
	display:flex;
	flex-direction:row;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	align-items: center;
	justify-content: space-around;
	margin-right: 10%;
	margin-bottom: 100px;
	flex-wrap: wrap;
}
.timagotchi {
	height: 650px;
	position: absolute;
    top: 80px;
    left: 380px;
	z-index: 0;
}
.skin{
	height:170px;
	position: absolute;
    top: 350px;
    left: 520px;
}
.pet-button{
    height:36px;
    width:36px;
    border-radius: 20px;
    position: absolute;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}
#lbutton{
    top: 650px;
    left: 516px;
}
#mbutton{
    top: 669px;
    left: 580px;
    color: transparent;
}
#rbutton{
    top: 650px;
    left: 646px;
}
.profile{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	margin: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	align-items: center;
	margin-right: 10%;
}
.progress-bar p{
	font-size: 15px;
}
.progress-bar{
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	position: absolute;
    top: 530px;
    left: 480px;
	width: 250px;
}
.progress{
	color: #61C9A8;
}
h3{
	margin-bottom:0.5em;
	margin-top:0.5em;
}
.leaderboard{
	display:flex;
	flex-direction: column;
	margin: 40px;
	margin-right: 10%;
}
.leaderboard-header{
	font-family: 'Press Start 2P', cursive;
	background-color: #61C9A8;
	text-align: center;
	width: 100%;
	font-size: 20px;
}
.leaderboard-item{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	margin-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.leaderboard-item h2{
	font-family: 'Press Start 2P', cursive;
	font-size:20px;
	padding-right: 10px;
}
.leaderboard-item p{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}
.leaderboard-row{
	display:flex;
	flex-direction: row;
}
.new-class{
	margin-left: 8%;
	margin-right: 10%;
	margin-top: 30px;
}
.new-class-block{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ADA8B6;
	font-family: 'Roboto', sans-serif;
	font-size: 15pt;
	padding: 20px;
	width: 100%;
	margin: 0;
	margin-top: 30px;
}
#class-code{
    font-size: 20pt;
    text-align: center;
    vertical-align: middle;
    height: 50px;
	padding-left: 20px;
	padding-right: 20px;
    background: #61C9A8;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 0px;
    width: 60%;
}
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: #ADA8B6;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 13px 7px;
    transition: 0.3s;
    font-size: 17pt;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #eee;
}
/* Create an active/current tablink class */
.tab button.active {
    background-color: #fff;
}
/* Style the tab content */
.tabcontent {
    background-color: #fff;
    padding: 15px 12px;
    border: 0px;
    border-top: none;
    margin-right: 10%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.new-assignment {
    background-color: #61C9A8;
    width: 100%;
    border: 0;
    padding: 8px 15px;
    font-size: 17pt;
}
.assignment {
    background-color: #ADA8B6;
    width: 100%;
    border: 0;
    padding: 8px 15px;
    font-size: 17pt;
}
.assignment-list {
    list-style-type: none;
    width: 100%;
    border: 0;
    padding: 5px 0px;
    font-size: 17pt;
}
.outer {
    background-color: #ADA8B6;
    margin-top: 8px;
    padding: 10px 0px;
}
.review {
    background-color: #ADA8B6;
    margin-top: 8px;
    padding: 10px 0px;
}
.inner {
    background-color: #ADA8B6;
    width: 100%;
    text-align: left;
    border: 0;
    padding: 0px 10px;
    font-size: 17pt;
}
.ghost {
    background-color: transparent;
    visibility: hidden;
}
.class-logo{
    padding: 0px;
    flex-shrink: 0;
    width: auto;
    height: 30px;
}
.right{
    float: right;
}
.assignment-columns{
	display:flex;
    flex-direction: row;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 20pt;
	margin-top: 30px;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 15px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
