/**, *::before, *::after {*/
/*    box-sizing: border-box;*/
/*}*/

/*:root {*/
/*    --hue-neutral: 200;*/
/*    --hue-wrong: 0;*/
/*    --hue-correct: 145;*/
/*}*/

/*body {*/
/*    --hue: var(--hue-neutral);*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    display: flex;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*body.correct {*/
/*    --hue: var(--hue-correct);*/
/*}*/

/*body.wrong {*/
/*    --hue: var(--hue-wrong);*/
/*}*/

/*.container {*/
/*    width: 800px;*/
/*    max-width: 80%;*/
/*    background-color: white;*/
/*    border-radius: 5px;*/
/*    padding: 10px;*/
/*    box-shadow: 0 0 10px 2px;*/
/*}*/

/*.btn-grid {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(2, auto);*/
/*    gap: 10px;*/
/*    margin: 20px 0;*/
/*}*/

/*.btn {*/
/*    --hue: var(--hue-neutral);*/
/*    border: 1px solid hsl(var(--hue), 100%, 30%);*/
/*    background-color: deepskyblue;*/
/*    border-radius: 5px;*/
/*    padding: 5px 10px;*/
/*    color: white;*/
/*    outline: none;*/
/*}*/

/*.btn:hover {*/
/*    border-color: black;*/
/*}*/

/*.btn.correct {*/
/*    --hue: var(--hue-correct);*/
/*    color: black;*/
/*}*/

/*.btn.wrong {*/
/*    --hue: var(--hue-wrong);*/
/*}*/

/*.start-btn, .next-btn .prev-btn {*/
/*    font-size: 1.5rem;*/
/*    font-weight: bold;*/
/*    padding: 10px 20px;*/
/*}*/

/*.controls {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*    align-content: space-around;*/
/*}*/

/*.hide {*/
/*    display: none;*/
/*}*/

@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
    font-size: 20px;
    color: #333;
    font-weight: 300;
    padding-right: 3.5%;
}
h2{
	font-family: 'Roboto', sans-serif;
    margin: 0px;
    font-size: 60px;
}
.question{
    font-size: 30px;
    margin-bottom: 10px;
}
.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
	width: 100%;
}
.answers label{
    display: block;
    margin-bottom: 10px;
}
button{
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    background-color: #61C9A8;
    border: 0px;
    padding: 20px;
    cursor: pointer;
    margin-top: 100px;
    margin-bottom: 20px;
}
button:hover{
    background-color: #38a;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
	
}
.active-slide{
    opacity: 1;
    z-index: 2;
}
.quiz-container{
    position: relative;
    height: 200px;
}

.student-quiz-main {
	margin-left: 5%;
	margin-right: 15%;
	margin-top: 50px;
	font-family: 'Roboto', sans-serif;
}

label {
	background-color: #BEB9C7;
	width: 100%;
	padding: 10px;
	margin: 2px;
}

.test {
	background-color: white;
	padding: 10px;
}
.buttons{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;
}
