body{
    font-size: 20px;
    color: #333;
    font-weight: 300;
    padding-right: 3.5%;
}
h2{
	font-family: 'Roboto', sans-serif;
    margin: 0px;
    font-size: 60px;
}
.question{
    font-size: 30px;
    margin-bottom: 10px;
}
.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
	width: 100%;
}
.answers label{
    display: block;
    margin-bottom: 10px;
}
button{
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    background-color: #61C9A8;
    border: 0px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
	margin-top: 100px;
}
button:hover{
    background-color: #38a;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
	
}
.active-slide{
    opacity: 1;
    z-index: 2;
}
.quiz-container{
    position: relative;
    height: 200px;
}

.student-quiz-main {
	margin-left: 5%;
	margin-right: 15%;
	margin-top: 50px;
	font-family: 'Roboto', sans-serif;
}

label {
	background-color: #BEB9C7;
	width: 100%;
	padding: 10px;
	margin: 2px;
}

.test {
	background-color: white;
	padding: 10px;
}
.buttons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

.congrats-banner {
  position: relative;
  text-align: center;
}

.congrats-words{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.congrats-words h1 {
	font-family: 'Press Start 2P', cursive;
}

table{
	border: none;
}

.leaderboard{
    display:flex;
    flex-direction: column;
    margin: 40px;
    margin-right: 10%;
}
.leaderboard-header{
    font-family: 'Press Start 2P', cursive;
    background-color: #61C9A8;
    text-align: center;
    width: 100%;
    font-size: 20px;
}
.leaderboard-item{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.leaderboard-item h2{
    font-family: 'Press Start 2P', cursive;
    font-size:20px;
    padding-right: 10px;
}
.leaderboard-item p{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
.leaderboard-row{
    display:flex;
    flex-direction: row;
}
#results{
    font-family: 'Press Start 2P', cursive;
    font-size:20px;
    padding-left: 38%;
    padding-top: 20px;
}
#scoreboard{
    display: none;
    padding-left: 4%
}
.progress-bar-quiz p{
	font-size: 15px;
}
.progress-bar-quiz{
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}
.feed {
	margin-top: 30px;
	border: solid black;
	border-radius: 25px;
	background-color: white;
	padding: 40px;
	text-align: center;
	margin-left:10%;
	margin-right: 10%;
	height: 330px;
}
.pet{
	height:170px;
	margin-bottom:12px;
}
.jar{
	height:100px;
}
.cookie{
	height:30px;
}
.cookie-container {
	width: 150px;
	text-align: left;
}
.animation{
	display:flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	height: 190px;
}
.feed-button-wrapper{
	display:flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top:30px;
}
#feed-button{
	border: solid black;
	background-color: white;
	margin:0px;
	font-size: 13px;
	padding: 5px;
}